<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|webp|gif|js|swf|svg)$">
Header set Cache-Control "max-age=31536000, public"
</FilesMatch>



DirectoryIndex index.php


Redirect /index.php /en/index.php


Redirect /preamble /en/preamble.php
Redirect /preamble.html /en/preamble.php
Redirect /preamble.php /en/preamble.php
Redirect en/preamble.html /en/preamble.php
Redirect en/preamble /en/preamble.php

Redirect /preface /en/preface.php
Redirect /preface.html /en/preface.php
Redirect /preface.php /en/preface.php
Redirect en/preface.html /en/preface.php
Redirect en/preface /en/preface.php

Redirect /epigraph /en/epigraph.php
Redirect /epigraph.html /en/epigraph.php
Redirect /epigraph.php /en/epigraph.php
Redirect en/epigraph.html /en/epigraph.php
Redirect en/epigraph /en/epigraph.php

Redirect /imagine /en/imagine.php
Redirect /imagine.html /en/imagine.php
Redirect /imagine.php /en/imagine.php
Redirect en/imagine.html /en/imagine.php
Redirect en/imagine /en/imagine.php

Redirect /plastic /en/plastic.php
Redirect /plastic.html /en/plastic.php
Redirect /plastic.php /en/plastic.php
Redirect en/plastic.html /en/plastic.php
Redirect en/plastic /en/plastic.php

Redirect /stellar /en/stellar.php
Redirect /stellar.html /en/stellar.php
Redirect /stellar.php /en/stellar.php
Redirect en/stellar.html /en/stellar.php
Redirect en/stellar /en/stellar.php

Redirect /patterns /en/patterns.php
Redirect /patterns.html /en/patterns.php
Redirect /patterns.php /en/patterns.php
Redirect en/patterns.html /en/patterns.php
Redirect en/patterns /en/patterns.php

Redirect /kincentric /en/kincentric.php
Redirect /kincentric.html /en/kincentric.php
Redirect /kincentric.php /en/kincentric.php
Redirect en/kincentric.html /en/kincentric.php
Redirect en/kincentric /en/kincentric.php

Redirect /nature /en/nature.php
Redirect /nature.html /en/nature.php
Redirect /nature.php /en/nature.php
Redirect en/nature.html /en/nature.php
Redirect en/nature /en/nature.php

Redirect /earthen /en/earthen.php
Redirect /earthen.html /en/earthen.php
Redirect /earthen.php /en/earthen.php
Redirect en/earthen.html /en/earthen.php
Redirect en/earthen /en/earthen.php

Redirect /spirals /en/spirals.php
Redirect /spirals.html /en/spirals.php
Redirect /spirals.php /en/spirals.php
Redirect en/spirals.html /en/spirals.php
Redirect en/spirals /en/spirals.php






AddType text/cache-manifest .appcache