/*LIGHT STYLE SHEET*/

/* light.css: 👉 dark-on-light */


   :root {
    --text-color: #222222;
    --background-color: rgb(250, 250, 250) ; /*button hover*/
    --link-color:  #222222 ;
    --nav-bar-accent: rgb(244, 242, 242); /*navbar, footer, button color*/
    --deeper-accent-color: rgb(235, 235, 235) ; /*main chart hover, top menu button backgrounds*/ 
    --thin-border-color: rgb(163, 163, 163); /*border color for almost everything*/
    --fainter-border-color:  rgb(208, 207, 207); /*border color for the menu buttons*/
    --element-shadow: 0 1px 15px rgba(7, 7, 7, 0.05 );  /*whenever a shadow is added*/
   }
   

body {
  background-color: rgb(250, 250, 250) !important;
  color: #202124 !important;
}

#underlayer {   /*THis enables sepia/contrast/brightness*/
    background-color: rgb(252, 251, 251);
}


/*NAVBAR TOP*/

#earthbook-navbar {

  background-color: rgb(244, 242, 242)  !important;
  border-color: rgb(163, 163, 163)  !important;
  color:  #202124  !important;
  box-shadow: 0 4px 15px rgba(85, 84, 84, 0.3)  !important;

}

#main-title {
  text-shadow: 0 0 3px #ffffff !important;
}



#settings-menu {
  background: var(--deeper-accent-color) !important;
  box-shadow: var(--element-shadow) !important;
  border: solid 1px var(--fainter-border-color) !important;
}

#settings-menu:hover {
  background: var(--background-color) !important;
  box-shadow: var(--element-shadow) !important;
}

#share-menu {
  background: var(--deeper-accent-color) !important;
  box-shadow: var(--element-shadow) !important;
  border: solid 1px var(--fainter-border-color) !important;
}

#share-menu:hover {
  background: var(--background-color) !important;
  box-shadow: var(--element-shadow) !important;
}


#right-close-button {
  border: solid 1px gray !important;
  background-color: white !important; /*#F9F9F9*/
  box-shadow: 0 1px 15px rgba(85, 84, 84, 0.1) !important;
}


#book-title {
  background: url(svgs/tractatus-mandala-full-white.svg) center no-repeat !important;
}




/* light.css


   
/* light.css 
--icon-filter_hover: invert(60%);*/

