/*TRACTATUS AYYEW BOOKAPP VERSION 0.1*/





@font-face {
  font-family: "CooperLt";
  font-style: normal;
  src: url("fonts/CooperLightBT.ttf");
 }

 @font-face {
  font-family: "CooperLt";
  font-style: italic;
  src: url("fonts/CooperLtBTLightItalic.ttf");
 }

 @font-face {
  font-family: "CooperLtMedium";
  src: url("fonts/CooperMediumBT.ttf");
 }

/*

#book-title {
  height: 200px;
  background: url(svgs/tractatus-mandala-full-grey.svg) center no-repeat white;
  background-size: 30px;
  
}
  */

#book-box {
  display: block;
  width: 100%;
  padding: 0px;
  margin: auto;
  font-family: "Mulish";
  display: inline;
  text-align: left;
  text-decoration: none;
  font-size: 1.1em;
}


/*
.book-box-day {  
  background: rgb(250, 249, 249);
  color: #202124;
}
.book-box-day a{  
  background: blue;
  color: #202124;;
}
}*/

#book-box a{  
  color: #202124;
  background: url(svgs/content-arrow.svg) left center no-repeat white;
  background-size: 30px;
  background-position-x: 18px;
}

#book-box a:hover{  
  color: black;
  background: url(svgs/content-arrow-45.svg) left center no-repeat rgb(250, 249, 249);
  background-size: 30px;
  background-position-x: 18px;
  ;
}


.book-box-night a {
  background: url(svgs/content-arrow-night.svg) left center no-repeat  #202124  !important;
  background-size: 30px !important;
  background-position-x: 18px !important;
  border:  rgb(90, 90, 90);
  color: #BDC1C6 !important;
}

.book-box-night a:hover{
  background: url(svgs/content-arrow-45-night.svg) left center no-repeat #17181b  !important;
  background-size: 30px !important;
  background-position-x: 18px !important;  
  color: white !important;
}

.chapter-top {
  border-radius: 20px 20px 0px 0px;
  border-width: 1px;
  border-color:inherit;
  display: flex;
  flex-flow: row nowrap;
  padding: 0px;
  border-style: solid;
  cursor: pointer;
  align-items: stretch;
  z-index: 9;
  background: inherit;
  font-family: inherit;
  
}

.chapter-middle {
  border-radius: 0px 0px 0px 0px;
  border-top: none;
  border-width: 1px;
  border-color:inherit;
  border-style: solid;
  cursor: pointer;
  align-items: stretch;

  display: flex;
  flex-flow: row nowrap;
  padding: 0px;

  z-index: 9;

  background: inherit;
  
}

.chapter-bottom {
  border-radius: 0px 0px 25px 25px;
  font-family: inherit;
  
  border-width: 1px;
  border-color:inherit;
  display: flex;
  flex-flow: row nowrap;
  padding: 0px;
  border-style: solid;
  cursor: pointer;
  align-items: stretch;
  z-index: 9;
  border-top: none;
  background: inherit;
  
}


  /*
  #chapter-bottom:hover, #chapter-middle:hover, #chapter-top:hover { 
    filter:   brightness(100%);

    }

  .chapter-hover-night:hover {
    background-color: #17181b  !important;
  }

.chapter-icon img{ 
  flex-direction: row;
  width: 30px;

}

.chapter-icon { 
  padding: 15px 25px 15px 20px;
}*/


.chapter-name {
  flex: 80%;
  padding: 15px 25px 15px 70px;
  margin:  auto 0px auto 0px;
  /*background-image: src('svgs/content-arrow.svg');
  background: url(svgs/content-arrow.svg) left center no-repeat;
  background-size: 30px;
  background-position-x: 18px;*/
  display: flex;
  z-index: 10;
}


.chapter-name:hover + .word-count {
  display: block;
}

.word-count {
  padding: 15px 35px 15px 0px;
  margin:  auto 0px auto 0px;
  color: grey;
  text-align: right;
  flex: 20%;
  display: none;
  font-family: 'CooperLT';
}


#navbar-bottom-day {
  
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;

  height: fit-content;
  padding: 10px 10px 25px 10px;
  border-top: 1px;
  border-style: solid;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-color: rgb(163, 163, 163);
  color:  #202124 ;
  z-index: 12;  
  box-shadow: 0 0px 15px rgba(85, 84, 84, 0.08);overflow: hidden;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  background: url(svgs/earthen-logo-grey.svg) center no-repeat;
  background-color: #F4F2F2;
  
}

.navbar-bottom-night {
  filter: invert(88%);
  /*background-color: #202124 !important;
  border-color: rgb(66, 66, 66) !important;
  color: white !important;*/
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3) !important;
}

.footer-icon { 
  padding: 10px 10px 10px 10px;
  text-align: left;
  width: 30px;
}

.footer-left {
  
  text-align: left;
  flex: auto;
  display: flex;
  /*margin: auto;
  
  padding: 10px 10px 10px 30px;*/
  height: 100%;
  align-items: center;
  flex-grow: 1;
  font-family: "Mulish";
  font-size: 1em;
}

.footer-middle {
 /*flex: auto;
  margin-top: -10px;
  padding: 0px 0px 15px 0px;*/
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  font-family: 'CooperLt';
  font-size: 1.5em;
  line-height: 65px;
}

.what-is {
  text-align: right;
  width: fit-content;
  display: flex;
  transition: 0.5s;
  order: 1;
  opacity: 0;
  margin-right: -50px

}


.an-earthbook {
  text-align: center;
  width: fit-content;
  padding-left: 6px;
  transition: 0.5s;
  order: 2;
 
}

.question {
  text-align: left;
  width: fit-content;
  display: flex;
  transition: 0.5s;
  order: 3;
  opacity: 0;
  margin-left: -8px;

}

.footer-middle:hover > .an-earthbook + .what-is  {
  opacity: 0.8;
  margin-right: 0px;
  
 }

/*
.an-earthbook:hover + .what-is {
  display: flex;
  opacity: 1;
  margin-right: 0px;
}*/

.footer-middle:hover > .question {
  opacity: 1;
  margin-left: 0px;
}




.footer-right {
  
  
  text-align: right;
  
  display: inherit;
  align-items: center;

  /*padding:  40px 30px 10px 40px;
  
  flex: auto;*/
  flex-grow: 1;
  flex-direction: row-reverse;
  font-family: "Mulish";
  font-size: 1em;
}






#text-adjust {
margin: 10px auto 30px auto;
margin: 10px auto 30px auto;
width: fit-content;
background: #80808011;
border-radius: 55px;

}

#increase-plugin-ac  {
padding: 10px;
border: rgb(116, 116, 116);
background: rgb(250, 249, 249);
color: black;
border-style: solid;
border-radius: 40px 10px 10px 40px;
border-width: 1px;
font-size: 25px;
margin: 20px;
font-family: "Mulish";
display: inline;
text-align: center;
text-decoration: none;
margin: 7px;
cursor: pointer;
    }

#normal-plugin-ac {
  padding: 10px;
  border: rgb(116, 116, 116);
  background: rgb(250, 249, 249);
  color: black;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  font-size: 25px;
  margin: 20px;
  font-family: "Mulish";
  display: inline;
  text-align: center;
  text-decoration: none;
  margin: 7px;
  cursor: pointer;
    }

#decrease-plugin-ac {
  padding: 10px;
  border: rgb(116, 116, 116);
  background: rgb(250, 249, 249);
  color: black;
  border-style: solid;
  border-radius: 10px 40px 40px 10px;
  border-width: 1px;
  font-size: 25px;
  margin: 20px;
  font-family: "Mulish";
  display: inline;
  text-align: center;
  text-decoration: none;
  margin: 7px;
  cursor: pointer;
    }


#toggle-btn {
padding: 11px;
border: white;
background: black;
border-style: solid;
border-radius: 25px;
border-width: 1px;
color: white;
font-size: 20px;
margin: 20px;
font-family: "Mulish";
display: block;
text-align: center;
text-decoration: none;
margin: auto;
}

.toggle-btn-night {
    color: #363535 !important;
    border: gray !important;
    background: white !important;
}

.text-btn {
    padding: 20px;
    border: white;
    background: black;
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    color: white;
    font-size: 30px;
    margin: 20px;
    font-family: "CooperLt";
    display: inline;
    text-align: center;
    text-decoration: none;
    margin: auto;
    }


/* ACTION BUTTONS 

 */

 #knack-dist_2 {font-family: 'Mulish';}

.kn-label {display: none;}

.action-btn {
    border: rgb(163, 163, 163);
    background: #F9F9F9;
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    color: #363535;
    font-family: "Mulish";
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;  
}

.action-btn-night {
  background: #17181b  !important;
  color: #969BA1 !important;
  border-color:  rgb(56, 56, 56) !important;
  }

  .action-btn-night a {
    
    color: #969BA1 !important;
    
    }

.action-btn:hover {
    background: white;
    font-weight: 500;
  }

  .action-btn-night:hover {
    background:  #27282c !important;
  }

.action-btn a:link {
  text-decoration: none;
  font-weight: 500;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


@media screen and (max-width: 700px) {

  .action-btn {

    padding-top: 6px;
    padding-bottom:6px;
    font-size: 1em;
    margin: 9px;
    flex-grow: 1;
  }
}

  
  @media screen and (min-width: 700px) and (max-width: 1324px) {

    .action-btn {

      padding-top: 9px;
      padding-bottom:9px;
      font-size: 1.2em;
      margin: 11px;


  }
}
  
  @media screen and (min-width: 1325px) {

    .action-btn {

      padding-top: 11px;
      padding-bottom: 11px;
      font-size: 1.3em;
      margin: 15px;
      display: block;
  }
}




@media screen and (max-width: 700px) {
  .button-row {
    display: flex;
    flex: row;
    align-items: stretch;
  }
}

@media screen and (min-width: 700px) and (max-width: 1324px) {
  .button-row {
      display: block;
      flex: row;}
    }

@media screen and (min-width: 1325px) {
  .button-row {
      display: block;
        }
      }


/*Main Title*/

#title {
    text-align: center;
}

#main-title {
    font-family: "CooperLT";
    padding: 40px 10px 18px 10px;
    font-variant-caps: small-caps;
    transition: 0.4s;
    text-shadow: 0 0 3px #ffffff;
  }

  .main-title-night {
    text-shadow: 0 0 3px #000000 !important;
  }

  @media screen and (max-width: 700px) { 
    #main-title {
      font-size: 1.7em;
  } 
}

@media screen and (min-width: 700px) and (max-width: 1324px) {
    #main-title {
      font-size: 2.2em;
    }
  }

@media screen and (min-width: 1325px) {
    #main-title {
          font-size: 2.9em;
      }
    }



#sub-title {
    font-family: "CooperLT";
    font-style: italic;
    font-size: 1.5em;
    margin-top: -8px;
}

@media screen and (max-width: 700px) { 
  #sub-title {
    font-size: 1.4em;
} 
}

@media screen and (min-width: 700px) and (max-width: 1324px) {
  #sub-title {
    font-size: 1.6em;
  }
}

@media screen and (min-width: 1325px) {
  #sub-title {
        font-size: 1.7em;
    }
  }







#sub-earthbook {
  margin: 20px 0px 50px 0px;
  letter-spacing: 4px;
  font-variant-caps: all-small-caps;
  font-weight: 500;
 text-shadow: 0 0 45px rgba(1, 1, 1, 0.1);
  user-select: none;  
  
  color: white;
  background: repeating-linear-gradient(-45deg, white, black, grey, rgb(0, 183, 255));
  background-size: 600vw 600vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: slide 10s linear infinite forwards;
  font-family: "Mulish";


}

@keyframes slide {
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 600vw;
  }
}

#bookplate-button {
  position: absolute;
  width: fit-content;
  margin: auto;
  bottom: 30px;
  left: 0;
  right: 0;
  transition: 0.3s;
  padding: 30px;
  padding-bottom: 30px;
border-radius: 50px;
background-color: white;
padding-bottom: 70px;
margin-bottom: -80px;
box-shadow: 0 1px 15px rgba(85, 84, 84, 0.1);

display: none;
}

#bookplate-button:hover {
  bottom: 40px;
}

.bookplate-button-night {
  background-color:  #292a2d !important;
}

.bookplate-button-night:hover {
  background-color: #242529 !important;
  bottom: 40px !important;
}



#menu-button {
    position: absolute;
    /*font-size: 50px;*/
    /*padding: 7px 10px 10px 20px;*/
    /*margin: 70px 0px 5px -35px;*/
    left: 0px;
    transition: 0.5s;
    background: white; /*#F9F9F9*/
    border-radius: 50px;
    height: 85px;
    /*box-shadow: 0 1px 15px rgba(85, 84, 84, 0.1);*/
  /*  border: solid 1px gray;*/
  padding-left: 40px;
  left: -77px;
  z-index: 50;
}

#menu-button:hover {
  left: -40px;
  transition: 0.5s;
  background-color: white;
  box-shadow: 0 1px 15px rgba(85, 84, 84, 0.1);
}




#menu-button img {
  height: 60px;
padding-top: 15px;
padding-left: 40px;
margin-left: -42px;
}

.menu-button-night {
  background-color:  #252525   !important;
}

.menu-button-night:hover {
  background-color: #242529 !important;
}


#menu-settings {
    position: absolute;
    right: 0px;
    transition: 0.3s;
    background-color: white; /*#F9F9F9*/
    border-color: black;
    /*box-shadow:0 1px 15px rgba(85, 84, 84, 0.1);*/
    transition: 0.3s;
    border-radius: 70px;
    height: 85px;
    padding-right: 70px;
    right: -85px;
  }


.menu-settings-night {
  background-color:  #292a2d !important;
}

.menu-settings-night:hover {
  background-color: #242529 !important;
}

#menu-settings:hover {
  right: -55px;
  transition: 0.3s;
  background-color: white;
  box-shadow:0 1px 15px rgba(85, 84, 84, 0.1);

}

#menu-settings img {
  height: 60px;
  padding-top: 14px;
padding-right: 17px;
margin-right: -42px;
}

.icon-buttons-night {
  filter: contrast(0%) !important;}

 
 /*Full Page Layout System*/




#main-page {
    margin: auto;
    box-sizing: border-box;
    padding-bottom: 180px;

  }

  @media screen and (max-width: 699px) {
    #main-page {
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 200px;
    }
  }
  @media screen and (min-width: 700px) and (max-width: 1324px) {
    #main-page {
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 220px;
    }
  }
  @media screen and (min-width: 1325px) {
    #main-page {
      margin-left: 15%;
      margin-right: 15%;
        margin-top: 250px;
        overflow-x: hidden
    }
  }



/* COLUMN DESIGN */


#row {  
    display: flex;

    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  @media screen and (max-width: 700px) {
    #row {
      margin-top: -90px;
  }
}

  #main {
    overflow: hidden;
    transition: 0.4s;
    }
  
  
  /* Main column */
    

  
@media screen and (max-width: 700px) {
  #main {
    flex: 100%;
    padding: 12px;
  }
  }

  @media screen and (min-width: 700px) and (max-width: 1324px) {
  #main {
    width:74%;
    padding: 15px;
    box-sizing: border-box;
    float: right;
    margin-left: 28%;
  }
  }

  @media screen and (min-width: 1325px) {
    #main {

      padding: 15px;
      box-sizing: border-box;
      /*width: 70%;     float: right; */
 
      margin-left: 28%;
      margin-right: 10%;

    }

    }

  
  

/* Sidebar/right column 
@media screen and (max-width: 700px) {
@media screen and (min-width: 700px) and (max-width: 1324px) {
@media screen and (min-width: 1325px)
  */

  #side { transition: 0.3s;

  }

@media screen and (max-width: 700px) {
	#side {
	padding: 12px;
	box-sizing: border-box;
  text-align: center;
  margin: 0px auto;
  margin-top: 1px !important;
	}
	}

@media screen and (min-width: 700px) and (max-width: 1324px) {

    #side {
    width: 26%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 0px;
    border-radius: 20px;
    text-align: center;
    position: fixed;
   
    
    }
    }

@media screen and (min-width: 1325px) {

    #side {
  
        padding: 15px;
        box-sizing: border-box;
        margin-top: 0px;
        position: fixed;
        width:18%;
        text-align: center;
        }
        }


.book-pic {
    padding: 60px;
    width: 50%;
    text-align: right;}


.side-book-pic {
    width: 100%;
    }

#side img {
    text-align: center;
    width: fit-content;
    max-width: 375px;
    /*border: 1px solid;
    border-color: rgb(163, 163, 163);*/
    border-radius: 12px;
    margin: auto;
    width: 83%;
    box-shadow: 0 4px 15px rgba(85, 84, 84, 0.4);
}

@media screen and (max-width: 700px) {
  #side img {
    width: 225px;
    border-radius: 10px;
  }
}
  

/*TABLE OF CONTENTS*/

 /* Table of Contents Menu (background) */
 #left-table-of-contents {
  background: url(svgs/tractatus-mandala-full-light-grey.svg) center no-repeat;
 /* background-position-y: -55px;*/
 background-size: contain;
  background-color: rgb(226, 226, 226); 
  background-color: rgba(231, 231, 231); 
  color: black;
}

.left-table-of-contents-night {
  background: url(svgs/tractatus-mandala-full-grey.svg) center no-repeat !important;
  background-size: contain !important;
  background-color: #232323 !important; 
  color: white !important;
}

.left-table-of-contents-night a:hover{

  color: rgb(255, 253, 253) !important;
}

.left-table-of-contents-night a{

  color: rgb(224, 224, 224) !important;
}

.settings-label {
  font-family: 'Mulish';
font-size: 1.2em;
margin: 18px 0px 8px 0px;
}


 .overlay-tc {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 21; /* Sit on top */
    left: 0;
    top: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
  
  /* Position the content inside the overlay */
  .overlay-content-tc {
    position: relative;
    /* 25% from the top */
    width: 75%; /* 100% width */
    text-align: center; /* Centered text/links */
    /* 30px top margin to avoid conflict with the close button on smaller screens */
    text-align: center;
    font-family: "CooperLT";
    margin: auto; 
    display: flex;
    justify-content: center;
    flex-flow: column;
    height:100%;
}

@media screen and (max-width: 700px) {
  .overlay-content-tc {
    width: 90%;
  }
}

@media screen and (min-width: 700px) and (max-width: 1324px) {
  .overlay-content-tc {
    width: 75%;
  }
}

@media screen and (min-width: 1325px) {
  .overlay-content-tc {
      width: 55%;
    }
  }



.contents-title {
  font-family: 'CooperLt';
  font-size: 1.5em;
  font-variant-caps: small-caps;
  padding-bottom: 20px;
  letter-spacing: 4px;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .contents-title {
    font-size: 1.6em;
  }
}

@media screen and (min-width: 700px) and (max-width: 1324px) {
  .contents-title {
    font-size: 1.7em;
  }
}

@media screen and (min-width: 1325px) {
  .contents-title {
    font-size: 2.1em;
    padding-bottom: 20px;
    }
  }

.tc-item {
  font-family: 'Mulish';
  padding: 0px;
  border-width: 1px;
  border-color:inherit;
  border-style: solid;
  cursor: pointer;
  align-items: stretch;
  border-bottom: none;
border-right: none;
border-left: none;
display: flex;
}

@media screen and (max-width: 700px) {
  .tc-item {
    font-size: 0.9em;
    padding: 0px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1324px) {
  .tc-item {
    font-size: 1.2em;
    padding: 0px;
  }
}

@media screen and (min-width: 1325px) {
  .tc-item {
    font-size: 1.3em;
    padding: 0px;
    }
  }


.chapter-name-tc {
  flex: fit-content;
 /* background-image: src('svgs/content-arrow.svg');
  background: url(svgs/content-arrow.svg) left center no-repeat;
  background-size: 30px;
  background-position-x: 18px;*/
  display: flex;
  z-index: 10;
  text-align: left;
}

@media screen and (max-width: 700px) {
  .chapter-name-tc {
    padding: 13px 5px 13px 15px;
    margin:  auto 0px auto 0px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1324px) {
  .chapter-name-tc {
    padding: 15px 25px 15px 35px;
    margin:  auto 0px auto 0px;
  }
}

@media screen and (min-width: 1325px) {
  .chapter-name-tc {
    padding: 15px 25px 15px 35px;
    margin:  auto 0px auto 0px;
    }
  }



.word-count-tc {
  padding: 15px 35px 15px 0px;
  margin:  auto 0px auto 0px;
  color: grey;
  text-align: right;
  flex: fit-content;
  font-family: 'CooperLT';
}


@media screen and (max-width: 700px) {
  .word-count-tc {
    padding: 13px 15px 13px 5px;
    margin:  auto 0px auto 0px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1324px) {
  .word-count-tc{
    padding: 15px 35px 15px 0px;
    margin:  auto 0px auto 0px;
  }
}

@media screen and (min-width: 1325px) {
  .word-count-tc {
    padding: 15px 35px 15px 0px;
    margin:  auto 0px auto 0px;
    }
  }


/*Gave up on this!
.dotted-line {
  width: 50%;
height: 1px;
align-content: center;
align-self: center;
border-top: gray;
  border-top-style: none;
  border-top-width: medium;
border-style: dotted;
  border-bottom-style: dotted;
border-bottom: none;
  border-bottom-width: medium;
border-width: 1px;
border-spacing: 1px;
display: none;
}

.magic-circle {
  width: 10px;
height: 18px;
background: #d4d1d1;
border: 1px grey;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
border-style: solid;
border-radius: 100px;
padding: 10px;
margin: auto;
  margin-right: auto;
margin-right: -15px;
display: none;
}

*/


  
  /* The navigation links inside the overlay */
  .overlay-tc a {
    text-decoration: none;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */

  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay-tc a:hover, .overlay a:focus {
    color: inherit;
    font-weight: bolder;
    color: black;
  }
  
  /* Position the close button (top right corner) */
  .overlay-tc .closebtn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 60px;
    z-index: 22;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 700px) {
    .overlay-tc a {
      font-size: 20px;
      }

    .overlay-tc .closebtn {
      font-size: 40px;
      top: 15px;
      right: 15px;
    }
  } 


/*ABOUT EARTHBOOK OVERLAY */


/*SETTINGS OVERLAY*/

#languages {
  display: flex;
  margin: 10px auto 10px auto;
  justify-content: center;
  padding: 5px 30px 5px 30px;
  background: white;
  border-radius: 55px;
  width: fit-content;

}

.languages-night {
  background-color:  #363636   !important;
}


.language-selector {
  font-family: 'Mulish';
  padding: 10px 20px 10px 20px;
  background: #878787;
  border-radius: 10px;
  margin: 10px;
  filter: invert(100);
  font-size: 1.1em;
  cursor: pointer;

}

.language-selector a:hover {
  color: grey;
}

.language-selector a {
  color: white;
}

#right-settings {
    background-color: rgb(226, 226, 226); 
    background-color: rgba(231, 231, 231); 
    color: black;
    z-index: 26;
}

 /* Table of Contents Menu (background) */
 .overlay-settings {
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 21; /* Sit on top */
    right: 0;
    top: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-settings-night {
  background-color: #232323 !important;  
    color: white !important;
}
  
  /* Position the content inside the overlay */
  .overlay-content-settings {
    position: initial;
    text-align: center; /* Centered text/links */
     /*margin-top: 30px; 30px top margin to avoid conflict with the close button on smaller screens */
    font-family: "CooperLT";
    font-size: smaller;
    display: flex;
    justify-content: center;
    flex-flow: column;
    height:100%;
    margin: auto;
}


@media screen and (max-width: 700px) {
    .overlay-content-settings {
      width: 85%;
      font-size: 0.9em;
      /*margin-top: 6%;*/
  }
  }

  @media screen and (min-width: 700px) and (max-width: 1324px) {
    .overlay-content-settings {
      width: 65%;
      font-size: 0.9em;
      /*margin-top: 2%;*/
  }
  }

  @media screen and (min-width: 1325px) {
      .overlay-content-settings {
        width: 69%;
        margin: auto;
      }
  }

  /* The navigation links inside the overlay */
  .overlay-settings a {

    color: black;
    transition: 0.3s; /* Transition effects on hover (color) */
  }

  .overlay-settings-night a {

    color: white;
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay-settings a:hover, .overlay a:focus {
    color: rgb(216, 215, 215);
  }
  
  /* Position the close button (top right corner) */
  .overlay-settings .closebtn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 50px;
    font-weight: lighter;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 700px) {
    .overlay-settings a {
    font-size: 20px;
    }

    .overlay-settings .closebtn {
    font-size: 40px;
    top: 15px;
    left: 15px;
    }
  } 



/*BOOKPLATE OVERLAY*/

#top-bookplate {
    background-color: rgb(226, 226, 226); 
    background-color: rgba(231, 231, 231, 0.95); 
    color: black;
    z-index: 21;
}

 /* Table of Contents Menu (background) */
.overlay-bookplate {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-bookplate-night {
    background-color: rgb(37, 37, 37) !important; 
    background-color: rgba(31, 31, 31, 0.9) !important; 
    color: white !important;
}

.mandala-night {
    filter: contrast(10%) brightness(90);
}
  
  /* Position the content inside the overlay */
.overlay-content-bookplate {
    position: initial;
    /*top: 12%; /* 25% from the top */
     /* width: 65%; 100% width */
    text-align: center; /* Centered text/links */
    margin: auto; 
    display: flex;
    justify-content: center;
    flex-flow: column;
    height:100%;
    font-size: smaller;
}

#mandala-day {
  margin: auto;
  /*background: url(svgs/tractatus-mandala-full-black.svg) center no-repeat;*/
  background: url(svgs/tractatus-mandala-full-black.svg) center no-repeat;
  width: 100%;
  background-size: contain;
  transition: 0.3s;
  display: none;

}

@media screen and (max-width: 699px) {
  #mandala-day {
    background: url(svgs/tractatus-simple-mandala.svg) center no-repeat;
    width: 60px;
    background-size: contain;
    display: block;
  }
  }


#bookplate-content {
  display: none;
  transition: 0.3s;
  text-shadow: 0 0px 4px #ffffff;


}

.bookplate-content-night {
  text-shadow: 0 0px 4px #000000 !important;

}

.bookplate-title { 
    font-variant-caps: small-caps;
    font-weight: 500;
    margin-top: 0.6em;
    letter-spacing: 1px;


    
}


.bookplate-subtitle {
  margin-top: -0.1em;
  font-weight: 300;


}

.bookplate-authors {
  margin-top: -0.1em;


}

.bookplate-year {
  margin-top: -0.2em;


}

.bookplate-motto {
  margin-top: -0.1em;

}




@media screen and (max-width: 700px) {
 
  #mandala-day {
    height: 200px;
  background-size: contain;}
  
  .overlay-content-bookplate {
      width: 70%;

  }

  }

@media screen and (min-width: 700px) and (max-width: 1324px) {
  #mandala-day {height: 350px;
  }
}
 
  .overlay-content-bookplate {
      width: 90%;
    }


@media screen and (min-width: 1325px) {
    .overlay-content-bookplate {
      width: 65%;
    }
    #mandala-day {
      height: 300px;
    }
  }
 
  /* The navigation links inside the overlay */
  .overlay-bookplate a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay-bookplate a:hover, .overlay a:focus {
    color: white;
  }
  
  /* Position the close button (top right corner) */
  .overlay-bookplate .closebtn {
    position: absolute;
    bottom: 20px;
    left: 47%;
    font-size: 50px;
    background: inherit;
    width: 100%;
    text-align: center;
    border-radius: 25px;
    margin: auto;
    font-weight: lighter;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay-bookplate a {font-size: 20px}
    .overlay-bookplate .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  } 



/*EarthBook OVERLAY*/

#bottom-earthbook {
  background-color: rgb(226, 226, 226); 
  background-color: rgba(231, 231, 231, 0.95); 
  color: black;
  z-index: 21;
}

/* Table of Contents Menu (background) */
.overlay-earthbook {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-earthbook-night {
  background-color: rgb(37, 37, 37) !important; 
  background-color: rgba(31, 31, 31, 0.9) !important; 
  color: white !important;
}

/*
.mandala-night {
  filter: contrast(10%) brightness(90);
}

/* Position the content inside the overlay */
.overlay-content-earthbook {
  position: initial;
  /*top: 12%; /* 25% from the top */
   /* width: 65%; 100% width */
  text-align: center; /* Centered text/links */
  /*margin-top: 30px;  30px top margin to avoid conflict with the close button on smaller screens */
  /*padding: 20px;*/
  margin: auto; 
  display: flex;
  justify-content: center;
  flex-flow: column;
  height:100%;
  font-size: smaller;
}

.virtue-desc {
  display: none;
}

.bookplate-title { 
  font-variant-caps: small-caps;
  font-weight: 300;
}

@media screen and (max-width: 700px) {
  .overlay-content-earthbook {
    width: 90%;
}

.virtue img {
  width: 90px;
}

.virtue {
  padding: 8px;
  width: 120px;
  font-size: 0.6;
}

.virtue-desc {
  display: none;
}
}

@media screen and (min-width: 700px) and (max-width: 1324px) {
  .overlay-content-earthbook {
    width: 90%;
  }
  .virtue img {
    width: 82px;
  }
  
  .virtue {
    padding: 13px;
    width: 100px;
  }
  }

@media screen and (min-width: 1325px) {
  .overlay-content-earthbook {
    width: 84%;
  }

  .virtue img {
    width: 135px;
  }
  
  .virtue {
    padding: 15px;
    width: 190px;
  }

}

.virtue:hover 
 {
  width: 200px;
  padding: 10px;
  font-size: 1em;
  height: 250px;
  transition: 0.3s;
  flex-grow: 3;
  max-width:200px;
  cursor: pointer;
  
}

.virtue:hover > .virtue-desc
 {
  display: contents;
  font-size: 1.5em;
 

}

.virtue:hover > img
 {

  width: 155px;
  display: none;
  transition: 0.3s;

}

/* The navigation links inside the overlay */
.overlay-earthbook a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay-earthbook a:hover, .overlay a:focus {
  color: white;
}

/* Position the close button (top right corner) */
.overlay-earthbook .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay-earthbook a {font-size: 20px}
  .overlay-earthbook .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
} 

#virtue-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}



.virtue-desc {
  font-family: 'Mulish';
  font-size: 0.8em;
  color: inherit;
  text-align: center;
  padding: 5px;
}

#wcb.wcb-d #wcb_a {
  color: #252b4d !important;
  background: #8cbdda !important;
  border-color: #529bc2 !important;
}

#wcb #wcb_a,
#wcb #wcb_g {
  border: 0.2em solid #8cbdda !important;
}


.welcome-to {
  font-size: 1.3em;
  line-height: 1.3;
  font-family: 'CooperLt', Georgia, serif;
  text-rendering: optimizeLegibility;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 10px;
}

  /*Text And FOnts */

  
  body {
      margin: 0px;
      background-color: rgb(252, 251, 251);
      color: #202124;
      position: absolute;
      z-index: 0;
      overflow-x: hidden; /*ARG WHY OVERFLOW?*/
      max-width: 100%;
 
        }


  .dark-mode {
    background-color: #202124  !important;
    color: #BDC1C6 !important;
  }

p {
  font-family: 'CooperLt', Georgia, serif;
  text-rendering: optimizeLegibility;
  font-weight: 300;
  }

  @media screen and (max-width: 699px) {
    p {
      font-size: 1.0em;
      line-height: 1.3;
    }
  }

@media screen and (min-width: 700px) and (max-width: 1324px) {
    p {
      font-size: 1.3;
      line-height: 1.3;
    }
  }

@media screen and (min-width: 1325px) {

    P {
      font-size: 1.4em;
      line-height: 1.3;
    }
  }



h1 {
  font-family: 'CooperLt', Georgia, serif;
}

@media screen and (max-width: 699px) {
    h1 {
      font-size: 2em;
      
    }
  }

@media screen and (min-width: 700px) and (max-width: 1324px) {
    h1 {
      font-size: 3.1em;
    }
  }

@media screen and (min-width: 1325px) {

    h1 {
      font-size: 3.5em;
    }
  }


h2 {
  font-family: 'CooperLt', Georgia, serif;
}

@media screen and (max-width: 699px) {
  h2 {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 700px) and (max-width: 1324px) {
  h2 {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 1325px) {
  h2 {
    font-size: 2em;
  }
}



h3 {    
  font-family: 'CooperLt', Georgia, serif;
  font-size: 1.7em;
  font-weight: 300;}

  @media screen and (max-width: 699px) {
    h3 {
      font-size: 1.2em;
    }
  }
  
  @media screen and (min-width: 700px) and (max-width: 1324px) {
    h3 {
      font-size: 1.6em;
    }
  }
  
  @media screen and (min-width: 1325px) {
    h3 {
      font-size: 1.8em;
    }
  }




h4 { 
  font-family: 'CooperLt', Georgia, serif;
  font-size: 1.4em;
  font-weight: 300;}

  @media screen and (max-width: 699px) {
    h4 {
      font-size: 1.06em;
    }
  }
  
  @media screen and (min-width: 700px) and (max-width: 1324px) {
    h4 {
      font-size: 1.2em;
    }
  }
  
  @media screen and (min-width: 1325px) {
    h4 {
      font-size: 1.4em;
    }
  }



h5 { 
    font-family: 'Mulish', Arial, sans-serif;
    font-weight: 300;}


    @media screen and (max-width: 699px) {
      h5 {
        font-size: 1.1em;
      }
    }
    
    @media screen and (min-width: 700px) and (max-width: 1324px) {
      h5 {
        font-size: 1.3em;
      }
    }
    
    @media screen and (min-width: 1325px) {
      h5 {
        font-size: 1.4em;
      }
    }

h6 { 
  font-family: 'CooperLt', Georgia, serif;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.6}



  a {
    color: black;
    border-color: rgb(163, 163, 163);
  }

    a:hover {
      text-decoration: none;
      filter: opacity(80%);
    }

    .dark-link {
      color: black;
      border-color: rgb(163, 163, 163);
    }
  
     .dark-link {
        text-decoration: none;
        filter: opacity(80%);
      }
    
    
@media screen and (max-width: 699px) {

.lead-page-paragraph {
    font-size: 1.2em;
    margin-top: 30px;
}
}



.page-paragraph {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: -10px;
}

.lead-text {
    font-family: 'Mulish', Arial, sans-serif;
    font-size: 1.5em;
  font-weight: 300;
}

@media screen and (max-width: 699px) {
  .lead-text {
      font-size: 1.2em;
      margin-top: 20px;
      padding-bottom: 35px;
  }
  }

  @media screen and (min-width: 700px) {
    .lead-text {
        font-size: 1.5em;
        margin-top: 20px;
        padding-bottom: 35px;
    }
    }



#line {
  border-color: rgb(163, 163, 163);
  border-style: dashed ;
  margin: 15px 0px 20px 0px;
  border-width: 1px;
  margin: 0px;}

.line-night {
  border-color: rgb(90,90,90) !important;
}


#navbar-day {
  height: 200px;
  max-height: 100%;
  position: fixed; /* Stay in place */
  z-index: 21; /* Sit on top */
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
    width: 100%;
    z-index: 12;
    transition: 0.3s;

    border-bottom: 1px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    background-color: rgb(244, 242, 242);
    border-color: rgb(163, 163, 163);
    color:  #202124 ;
  
    box-shadow: 0 4px 15px rgba(85, 84, 84, 0.3);
    text-align: center;

    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: auto;
    z-index: 20;
}


@media screen and (max-width: 699px) {
  #navbar-day {
    height: 75px;
  }
}






#book-title {
  height: 208px;
 background: url(svgs/tractatus-mandala-full-white.svg) center no-repeat;
 /* background-position-y: -55px;*/
 background-size: 60%;
  margin: auto;

  transition: 0.4s;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: unset;
  cursor: pointer;
 
}

@media screen and (max-width: 699px) {
  #book-title {
    display: none;
  }
  }

.book-title-night {
  background: url(svgs/tractatus-mandala-full-grey.svg) center no-repeat !important;
}


.navbar-night {

    background-color: #1c1d20 !important;
    border-color: rgb(66, 66, 66) !important;
    color: white !important;
    box-shadow: 0 4px 15px rgba(7, 7, 7, 0.3) !important;

  } 


/* ACCORDION */
#accordion {
    box-sizing: border-box;
    display: flex;
    font-family: 'Mulish', Arial, sans-serif;
    overflow: hidden;
    width: 100%;
    margin-top: 25px;
}

.accordion-select {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    z-index: 1;
}

.accordion-title {
    position: relative;
}

.accordion-title:not(:nth-last-child(2))::after {
    border: 1px dashed transparent; /*DIVIDER LINE*/
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.accordion-title span {
    bottom: 0px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    white-space: nowrap;
    width: 100%;
}

.accordion-content {
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    transition: margin 0.3s ease 0.1s;
}

.accordion-select:checked + .accordion-title + .accordion-content {
    margin-bottom: 0;
    margin-right: 0;
}

/* Generated styles starts here */

#accordion {
  border-color: #848484;
  border-color: white;
    border-radius: 17px;
    border-style: solid;
    border-width: 1px;
    flex-direction: column;
    height: auto;
    background-color: #ffffff;
  color: #464848;
  border-style: dashed;
  border-bottom-color: #848484;
    border-right-color: #848484;
    border-top-color: #848484;
    border-left-color: #848484;
} 

.accordion-title,
.accordion-select  {
  /*background-color: #ffffff;
  color: #464848;*/
  background-color: inherit;
  color: inherit;
    width: 100%;
    height: 57px;
    font-size: 21px;
}

.accordion-select {
    margin-bottom: -57px;
    margin-right: -65px;
}

.accordion-title:not(:nth-last-child(2))::after {
    /*border-bottom-color: #c0c0c0;*/
    border-bottom-color: inherit;
    border-right-color: transparent;
} 

.accordion-select:hover + .accordion-title,
.accordion-select:checked + .accordion-title {
    /*background-color: #f1f1f1;*/
    background-color: inherit;
} 

 .accordion-title span  {	
    transform: rotate(0deg);
    -ms-writing-mode: lr-tb;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    padding-left: 29px;
    padding-right: 29px;
    line-height: 57px;
} 

.accordion-content {
    /*background-color: #f7f7f7;
    color: #7f8787;*/
    background-color: inherit;
    color: inherit;
    height: 130px;
    margin-bottom: -130px;
    margin-right: 0;
    padding: 29px;
    width: 100%;

    font-family: 'CooperLt', Georgia, serif;
  font-size: 1.2em;
  font-weight: 300;
} 


#container1 {
    width: 100%;
    height: 100%;
    z-index: -10;
    position: absolute;
    background-color:white;
    top: 0;
    overflow: hidden;
  }

  .container1-night {background-color: #202124 !important;}

  #container2 {
    width: 100%;
    height: 100%;
    z-index: -10;
    position: absolute;
    background-color:white;
    top: 0;
    overflow: hidden;
  }

  .container2-night {background-color: #202124 !important;}

  #container3 {
    width: 100%;
    height: 100%;
    z-index: -10;
    position: absolute;
    background-color:white;
    top: 0;
    overflow: hidden;
  }

  .container3-night {background-color: #202124 !important;}



  #range-scale {
-webkit-appearance: none;
background: #5c5c5c;
height: 3px;
outline: none;
cursor: pointer;
margin-top: 7px;
margin-bottom: 14px;
border-radius: 8px;
border-width: 1px;
border-color: #8b8a8a;
border-style: solid;
margin-right: auto;
margin-left: auto;
  }

  @media screen and (max-width: 699px) {

    #range-scale { 
      width: 80%;
    }

  }

  @media screen and (min-width: 700px) and (max-width: 1324px) {

    #range-scale { 
      width: 70%;
    }

  }

  @media screen and (min-width: 1325px) {

    #range-scale { 
      width: 30%;
    }

  }






  #brightness-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
       
  }



/* -------------------------------------------------------------------------- */

/*	Toggle Switch
/* -------------------------------------------------------------------------- */

.night-toggle {
  width: 33px;
  height: 33px;
  margin: auto;
  position: block;
  }
  .night-toggle:hover{
    cursor: pointer;
  }
  .moon {
    background-color: transparent;
    box-shadow: -6px 1px 0 3px #275e8e;
    border-left:3px solid #27476D;
    border-radius:50%;
    width: 20px;
    height: 20px;
    margin-left:8px;
    margin-top:0px;
    transition: 2s;
  }
  .sun {
    background-color: #fdd462;
    box-shadow: 2px 0px 0px 1px #D19C29;
    border-radius:50%;
    width: 26px;
    height: 26px;
    transition: 2s;
  }
  
  /* ----- optional ----- */
  .break {
    flex-basis: 100%;
    height: 0;
  }
  .opt {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    font-family: sans-serif;
    margin-top:5%;
    text-align:center;
  }
  