

/*This CSS clears out the navbar from the mainpage settings*/


#earthbook-navbar {
  height: 400px;
}

#book-title {
  height: 400px;
}

#main-title {
display: none;
}

#sub-title { 
display: none;
}

#sub-earthbook {
display: none;
}

#main-page { 
margin-top: 40px;
}

#settings-menu {
opacity: 0;
z-index: 22;
}

#share-menu {
opacity: 0;
z-index: 22;
}

#book-header-logo {
display: none;
}



/*Constructive CSS*/

#ct-chapter-top {
    z-index: 20;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    /*padding: 80px 0px 60px 0px;*/
    transition: 0.4s;
    width: 77%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: unset;
    position: fixed;
    height: 400px;

    margin: 0px auto;
    margin-top: 20px;
    text-shadow: 0 0px 4px var(--background-color);
  }

   
  #ct-chapt-graphic {
    
    padding: 0px;
    height: 400px;
    margin: auto;
    margin-top: 200px;
    padding-top: 200px;
    width:100%;
    border-bottom: 1px solid var(--thin-border-color);
    background-color: var(--slider);

    display: flex;
  flex-flow: column;
  justify-content: center;

    /*overflow-x: hidden;
    background: url(svgs/tractatus-mandala-full-white.svg) no-repeat center;
    background-size: contain;
    background-position-y: 200px;*/
    
  }

  
  /*
  .book-title-night {
    background: url(svgs/tractatus-mandala-full-grey.svg) center no-repeat !important;
  }*/
  
  #ct-chapter-title {
    font-family: 'CooperLt';
    font-weight: 500;
    color: inherit;
    font-variant-caps: all-petite-caps;
    transition: 0.3s;

  }
  
  #ct-book-title {
    font-family: 'Mulish';
    font-weight: 300;
    color: inherit;
    font-variant-caps: petite-caps;
    display: block;
    transition: 0.3s;
  }
  
  #ct-word-count {
    font-family: 'CooperLt';
    font-weight: 300;
    display: block;
  }

  #ct-tc-menu {
    margin: auto;
    padding: 10px;
    width: 40px;
    cursor: pointer;
  }


  @media screen and (max-width: 699px) {

      
    #ct-chapter-title {
      padding-top: 27px;  
      font-size: 11vmin;
      letter-spacing: 8px;
    }
    
    #ct-book-title {
      font-size: 4.2vmin;
      margin-top: 15px;
      letter-spacing: 1px;
    }
    
    #ct-word-count {
      font-size: 3.2vmin;
      padding: 12px;
    }

  }


  @media screen and (min-width: 700px) and (max-width: 1324px) {


      
    #ct-chapter-title {
      padding-top: 27px;
      font-size: 12vmin;
      letter-spacing: 12px;
    }
    
    #ct-book-title {
      font-size: 2.7vmin;
      margin-top: 15px;
      letter-spacing: 1px;
    }
    
    #ct-word-count {
      font-size: 2.4vmin;
      padding: 11px;
    }
  }


  
  @media screen and (min-width: 1325px) {


      
    #ct-chapter-title {
      padding-top: 27px;
      font-size: 12vmin;
      letter-spacing: 15px;
    }
    
    #ct-book-title {
      font-size: 2.8vmin;
      margin-top: 10px;
      letter-spacing: 3px;
    }
    
    #ct-word-count {
      font-size: 2vmin;
      padding: 10px;
    }
  }
  
 

  .ct-chapter-quote {
    text-align: center;
    font-family: 'CooperLT';
    
    font-style: italic;
    
    color: var(--text-color);
    align-self: center;
    padding-bottom: 20px;
    line-height: 1.5;
    height: fit-content;
  }

  .ct-quote-source {
    text-align: right;
    font-family: 'Mulish';
    color: grey;
    padding-bottom: 50px;
    align-self: center;
  }

  @media screen and (max-width: 699px) {
    .ct-chapter-quote {
      width: 90%;
      font-size: 1.1em;
    }
    .ct-quote-source {
      width: 90%;
      font-size: 1em;
    }
  }

  @media screen and (min-width: 700px) and (max-width: 1324px) {
    .ct-chapter-quote {
      width: 70%;
      font-size: 1.4em;
    }
    .ct-quote-source {
      width: 70%;
      font-size: 1em;
    }
  }
    
  @media screen and (min-width: 1325px) {
    .ct-chapter-quote {
    width: 50%;
    font-size: 1.4em;
    }
    .ct-quote-source {
      width: 50%;
      font-size: 1em;
    }
  }


  
  /*
  @media (prefers-color-scheme: dark) {
    #ct-chapt-graphic {
      background: #141516;
      background: url(svgs/tractatus-mandala-full-grey.svg) no-repeat center;
    background-size: contain;
    background-position-y: 200px;
    }
  }*/


  /*
  
  #progress-bar {
      text-align: left;
      width: 100%;
      height: 20px;
      display: none;
  
  }
  
  .progress {
      background: rgb(197, 197, 197);
      height: 20px;
      width: 10%;
  }*/
  
  #ct-main {
      margin: auto;
      box-sizing: border-box;
      padding-bottom: 350px;
    }
  
    @media screen and (max-width: 699px) {
      #ct-main {
          margin-left: 7%;
          margin-right: 7%;
          margin-top: 80px;
        
      }
  

    }

    .footer-left {
  
      text-align: left;
      flex: auto;
      display: flex;
      height: 100%;
      align-items: center;
      flex-grow: 1;
      font-family: "Mulish";
      font-size: 1em;
      margin-left: -5px;
    }

    #footer-icon-left { 
      padding: 18px 12px 10px 0px;
      width: 60px;
      border-right: 1px solid grey;
      height: 45px;
      background: url(svgs/footer-settings-button.svg) no-repeat left;
      background-size: 70px;
      margin-top: 8px;
    }

    #footer-icon-left:hover { 
      background: url(svgs/footer-settings-button-over.svg) no-repeat left;
      background-size: 70px;
    }



    
    
    
    .footer-right {
      text-align: right;
      display: flex;
      flex: auto;
      height: 100%;
      align-items: center;
      flex-grow: 1;
  
      font-family: "Mulish";
      font-size: 1em;
      margin: auto;
      flex-flow: row;
      justify-content: center;
    }

    @media screen and (max-width: 699px) {
      .footer-right {
        justify-content: center;
        margin: auto;
      }
    }




#book-title {opacity: 0;}


   


.footer-size {
  height: 150px;
  display: flex;
flex-direction: row;
justify-content: center;
margin: auto;
}


@media screen and (max-width: 700px) {
.footer-size {
  width: 90% }
}


    @media screen and (min-width: 700px) and (max-width: 1324px) {
      #ct-main {
        width: 70%;
        margin: auto;
        margin-top: 80px;
      }
 

      .footer-size {
      width: 70%
     }
    }

    @media screen and (min-width: 1325px) {
      #ct-main {
        width: 50%;
        margin: auto;
          padding: 50px 10px 100px 10px;
          margin-bottom: 100px;
          overflow-x: hidden;
          
      }
  
  
      .footer-size {
        width: 50%;
        margin: auto;
  
     }
    }
  

  
    .quote {
  
      margin: 40px 0px 40px 8px;
      padding: 0px 5px 0px 25px;
      border-left: 3px solid var(--text-color);
      font-style: italic;
      font-size: 0.95em;
    }


    /*
    @media (prefers-color-scheme: dark) {

      .quote {

        border-left: 3px rgb(183, 182, 182) solid;
      }}*/
    
  



#footer-chapter {
  
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;

  padding: 0px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: none;
  border-left: none;
  z-index: 15; 
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  background-color: var(--header-footer);
  border-color: var(--thin-border-color);
  color:  #202124 ;
  box-shadow: var(--element-shadow);
  overflow: hidden;

  padding-bottom: 25px;
  margin-bottom: 0px;
  transition: 0.3s;
}


/*
@media (prefers-color-scheme: dark) {
  #footer-chapter {
  background-color: #1C1D20;
  border-color: #424242;
  color:  #ebecec ;
  box-shadow: 0 0px 15px rgba(1, 1, 1, 0.5);overflow: hidden;
  }
} */

@media screen and (max-width: 699px) {
  #footer-chapter {
    justify-content: flex-start;
}
}


/*COntent footer*/

.next-section {
  display: block;
  text-align:left;
  margin-left: 20px;
  margin-right: auto;
}

.next-sec {
  font-family: 'Mulish';
  font-weight: bold;
  font-size: 1.3em;
  padding-bottom: 10px;
  color: var(--pre-link-color);
}

.sec-name {
  font-family: 'CooperLt';
  font-size: 1.1em;
  color: var(--text-color);

}


.next-button {
  background: var(--text-color);
  font-family: 'Mulish';
  font-size: 1.3em;
  padding: 8px 20px 8px 20px;
  color: var(--background-color);
  border-radius: 55px 55px 55px 55px;
  width: fit-content;
  text-align: center;
  z-index: 10;
  text-align: center;

}

.next-button:hover {
  text-align: right;
  color: var(--text-color);
  background: var(--background-color);
}

.footer-settings-button {
  font-family: 'Mulish';
  font-size: 1.1em;
  padding-top: 5px;
  width: 200px;
  margin-top: 20px;
  border-top: 1px solid;
}

/*footer items for mobile*/

@media screen and (max-width: 699px) {

  #footer-icon-left { 
    padding: 12px 20px 20px 0px;
    width: 36px;
    background: url(svgs/footer-settings-button.svg) no-repeat left;
    background-size: 45px;
 
  }

  #footer-icon-left:hover { 
    background: url(svgs/footer-settings-button-over.svg) no-repeat left;
    background-size: 45px;
  }

  .next-section {
    margin-left: 15px;
    margin-right: auto;
    padding-right: 10px;
  }
  
  .next-sec {
    font-size: 1.0em;
  padding-bottom: 0px;
  }
  
  .sec-name {
    font-family: 'CooperLt';
    font-size: 0.95em
  }
  
  
  .next-button {
    font-size: 1.2em;
    padding: 6px 20px 6px 20px;
    border-radius: 11px;
    z-index: 10;
  }


}


/*Footer Settings Open up panel*/


#footer-settings {
  
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 14; 
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100vw;

  background-color: var(--deeper-accent-color);
  padding-top: 00px;
  justify-content: center;
}

.footer-settings-icon {
  font-family: 'Mulish';
  color: grey;
  align-self: center;
  font-size: 1.2em;
  text-align: right;
}

.footer-settings-icon:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.footer-settings-icon img{
  height: 50px;
  padding-right: 15px;
}

@media screen and (max-width: 699px) {
  .footer-settings-icon img{
    height: 30px;
    padding-right: 10px;

  }

  .footer-settings-icon {
    font-size: 0.7em;
    height: 30px;
  }
}

