

#ct-chapter-top {
    z-index: 20;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 80px 0px 60px 0px;
    transition: 0.4s;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: unset;
    cursor: pointer;
    position: fixed;
    height: 33vh;
    margin: 0px auto;
    margin-top: 20px;
  }
  
  /*
  .book-title-night {
    background: url(svgs/tractatus-mandala-full-grey.svg) center no-repeat !important;
  }*/
  
  #ct-chapter-title {
    font-family: 'CooperLt';
    font-weight: 500;
    font-size: 14vmin;
    color: inherit;
    font-variant-caps: all-petite-caps;
    transition: 0.3s;
    letter-spacing: 8px;
  }
  
  #ct-book-title {
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 5vmin;
    color: inherit;
    font-variant-caps: petite-caps;
    margin-top: 10px;
    display: block;
    transition: 0.3s;
  }
  
  #ct-word-count {
    font-family: 'CooperLt';
    font-weight: 300;
    font-size: 3.5vmin;
    padding: 10px;
    display: block;
  }
  
  
  #ct-chapt-graphic {
    background: rgb(227, 226, 226);
    padding: 20px;
    height: 424px;
    margin: auto;
    width:100%;
    border-bottom: 1px grey solid;
    
  }
  
  @media (prefers-color-scheme: dark) {
    #ct-chapt-graphic {
      background: #141516;
      background: url(svgs/tractatus-mandala-full-grey.svg) no-repeat center;
    background-size: cover;
   
    }
  }
  
  #progress-bar {
      text-align: left;
      width: 100%;
      height: 20px;
      display: none;
  
  }
  
  .progress {
      background: rgb(197, 197, 197);
      height: 20px;
      width: 10%;
  }
  
  #ct-main {
      margin: auto;
      box-sizing: border-box;
      padding-bottom: 180px;
    }
  
    @media screen and (max-width: 699px) {
      #ct-main {
          margin-left: 7%;
          margin-right: 7%;
          margin-top: 80px;
        
      }
  
      .footer-size {
        margin-left: 5%;
        margin-right: 5%;
       }
    }


#book-title {opacity: 0;}
   
.footer-size {height: 350px;}


    @media screen and (min-width: 700px) and (max-width: 1324px) {
      #ct-main {
        width: 70%;
        margin: auto;
        margin-top: 80px;
      }
 

      .footer-size {
      width: 70%
     }
    }

    @media screen and (min-width: 1325px) {
      #ct-main {
        width: 50%;
        margin: auto;
          padding: 50px 10px 100px 10px;
          margin-bottom: 100px;
          overflow-x: hidden;
          
      }
  
  
      .footer-size {
        width: 50%;
        margin: auto;
  
     }
    }
  
    .footer-size {
      display: flex;
    flex-direction: row;
    justify-content: center;
    }
  
    .quote {
  
      margin: 40px 20px 40px 8px;
      padding: 0px 25px 0px 25px;
      border-left: 3px rgb(113, 113, 113) solid;
      font-style: italic;
      font-size: 0.9em;
    }

    @media (prefers-color-scheme: dark) {

      .quote {

        border-left: 3px rgb(183, 182, 182) solid;
      }}
    
  



#footer-chapter {
  
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;

  padding: 0px;
  border-top: 1px;
  border-style: solid;
  border-bottom: none;
  border-right: none;
  border-left: none;
  z-index: 15; 
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  padding-bottom: 100px;
  width: 100%;

  /*background: url(svgs/tractatus-mandala-full-white.svg) center no-repeat;*/
  background-size: 60%;
  background-color: rgb(244, 242, 242);
  border-color: rgb(163, 163, 163);
  color:  #202124 ;
  box-shadow: 0 0px 15px rgba(85, 84, 84, 0.08);overflow: hidden;

}

@media (prefers-color-scheme: dark) {
  #footer-chapter {
  background-color: #1C1D20;
  border-color: #424242;
  color:  #ebecec ;
  box-shadow: 0 0px 15px rgba(208, 208, 208, 0.08);overflow: hidden;
  }
} 




/*COntent footer*/

.next-section {
  display: block;
  text-align:left;
  margin-left: 20px;
  margin-right: auto;
}

.next-sec {
  font-family: 'Mulish';
  font-weight: bold;
  font-size: 1.1em
}

.sec-name {
  font-family: 'CooperLt';
  font-size: 1em
}


.prev-button {
  background: rgb(235, 235, 235);
  font-family: 'Mulish';
  font-size: 1.3em;
  padding: 8px 20px 8px 20px;
  color: rgb(121, 121, 121);
  border-radius: 55px 0px 0px 55px;
  width: fit-content;
  margin-left: auto;
  text-align: center;
  z-index: 9;
}

.prev-button:hover {
  padding-right: 30px;
  background: white;
  color:black;
}


.next-button {
  background: black;
  font-family: 'Mulish';
  font-size: 1.3em;
  padding: 8px 20px 8px 20px;
  color: white;
  border-radius: 0px 55px 55px 0px;
  width: fit-content;
  margin-right: 20px;
  margin-left: auto;
  text-align: center;
  z-index: 10;
}

.next-button:hover {
  
  padding-right: 30px;
  margin-right: 10px;
}
