
/*

.highlight {
 
  font-family: 'CooperLt', Georgia, serif;
  text-rendering: optimizeLegibility;
  font-weight: 300;
  text-align: justify;

}


.locked-highlight {
  background-color: green;
  color: var(--background-color);
  font-family: 'CooperLt', Georgia, serif;
text-rendering: optimizeLegibility;
font-weight: 300;
text-align: justify;
}
*/


@media screen and (max-width: 699px) {
    
  #ct-main .action-btn {
    margin: -20px auto 0px auto !important;
  }
}


/*This CSS clears out the navbar from the mainpage settings*/


#earthbook-navbar {
  height: 50vh;
  border-bottom-color: var(--strong-border);
}

#book-title {
  height: 50vh;
}

#main-title {
display: none;
}

#sub-title { 
display: none;
}

#sub-earthbook {
display: none;
}

#main-page { 
margin-top: 40px;
}

#settings-menu {
opacity: 0;
z-index: 22;
}

#share-menu {
opacity: 0;
z-index: 22;
}

#book-header-logo {
display: none;
}



/*Constructive CSS*/

#ct-chapter-top {
    z-index: 20;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    /*padding: 80px 0px 60px 0px;*/
    transition: 0.4s;
    width: 77%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: unset;
    position: fixed;
    height: 55vh;
    margin: 0px auto;
    margin-top: 0px;
  
  }

   
  #ct-chapt-graphic {

    padding: 0px;
 
    /*background-position-y: 10vh;*/
    margin: auto;
    padding-top: 50vh;
    width:100%;
    border-bottom: 1px solid var(--thin-border-color);
    background-color: var(--slider);

    display: flex;
    flex-flow: column;
    justify-content: center;

    /*overflow-x: hidden;
    background: url(svgs/tractatus-mandala-full-white.svg) no-repeat center;
    background-size: contain;
    */
    
  }

  
  /*
  .book-title-night {
    background: url(svgs/tractatus-mandala-full-grey.svg) center no-repeat !important;
  }*/

  .ct-holder {
    width: 100%;
    overflow-x:hidden;
  }
  
  #ct-chapter-title {
    font-family: 'CooperLt';
    font-weight: 500;
    color: inherit;
    font-variant-caps: all-petite-caps;
    transition: 0.3s;
    text-shadow: 0 1px 10px var(--slider);

  }
  
  #ct-book-title {
    font-family: 'Mulish';
    font-weight: 300;
    color: inherit;
    font-variant-caps: petite-caps;
    display: block;
    transition: 0.3s;
  }

  #ct-chap-location {
    font-family: 'CooperLt';
    font-weight: 300;
    color: inherit;
    font-variant-caps: petite-caps;
    display: block;
    transition: 0.3s;
  }
  
  #ct-word-count {
    font-family: 'CooperLt';
    font-weight: 300;
    display: block;
  }

  #ct-tc-menu {
    margin: 15px auto 0px auto;
    padding: 10px;
    width: 40px;
    height: 55px;
    cursor: pointer;
    background: url(svgs/tc-button.svg) center no-repeat;
    background-size: contain;
    border: none;
    transition: 2s;
    /*background-color: var(--header-footer) !important;*/
  }

  #ct-tc-menu:hover {
    background: url(svgs/tc-button-hover.svg) center no-repeat;
    background-size: contain;
  }

  #ct-tc-menu:focus {
    background: url(svgs/tc-button.svg) center no-repeat;
    background-size: contain;
  }





  @media screen and (max-width: 699px) {

      
    #ct-chapt-graphic {
      height: 33vh;
      margin-top: 7vh;
    }
      
      #ct-chapter-title {
      padding-top: 30px;  
      font-size: 12vmin;
      letter-spacing: 8px;
    }
    
    #ct-book-title {
      font-size: 4.2vmin;
      margin-top: 15px;
      letter-spacing: 1px;
    }

    #ct-chap-location {
      font-size: 4.2vmin;
      margin-top: 15px;
      letter-spacing: 1px;
    }
    
    
    #ct-word-count {
      font-size: 3.2vmin;
      padding: 12px;
    }

  }


  @media screen and (min-width: 700px) and (max-width: 1324px) {


    #ct-chapt-graphic {
      height: 47vh;
    }
      
    #ct-chapter-title {
      padding-top: 29px;
      font-size: 12vmin;
      letter-spacing: 12px;
    }
    
    #ct-book-title {
      font-size: 2.7vmin;
      margin-top: 15px;
      letter-spacing: 1px;
    }

    #ct-chap-location {
      font-size: 2.7vmin;
      margin-top: 15px;
      letter-spacing: 1px;
    }
    
    #ct-word-count {
      font-size: 2.4vmin;
      padding: 11px;
    }
  }


  
  @media screen and (min-width: 1325px) {

    #ct-chapt-graphic {
      height: 46vh;
    }
      
    #ct-chapter-title {
      padding-top: 30px;
      font-size: 12vmin;
      letter-spacing: 15px;
    }
    
    #ct-book-title {
      font-size: 2.8vmin;
      margin-top: 10px;
      letter-spacing: 3px;
    }

    #ct-chap-location {
      font-size: 2.7vmin;
      margin-top: 15px;
      letter-spacing: 1px;
    }
    
    #ct-word-count {
      font-size: 2vmin;
      padding: 10px;
    }
  }
  
 

  .ct-chapter-quote {
    text-align: center;
    font-family: 'CooperLT';
    
    font-style: italic;
    
    color: var(--drop-cap);
    align-self: center;
    padding-bottom: 20px;
    line-height: 1.5;
    height: fit-content;
    margin-top: -60px;
  }

  .ct-quote-source {
    text-align: center;
    font-family: 'Mulish';
    color: grey;
    align-self: center;
  }

  @media screen and (max-width: 699px) {
    .ct-chapter-quote {
      width: 90%;
      font-size: 1.1em;
    }
    .ct-quote-source {
      width: 90%;
      font-size: 0.9em;
    }
  }

  @media screen and (min-width: 700px) and (max-width: 1324px) {
    .ct-chapter-quote {
      width: 70%;
      font-size: 1.4em;
    }
    .ct-quote-source {
      width: 70%;
      font-size: 1em;
    }
  }
    
  @media screen and (min-width: 1325px) {
    .ct-chapter-quote {
    width: 50%;
    font-size: 1.4em;
    }
    .ct-quote-source {
      width: 50%;
      font-size: 1em;
    }
  }


  
  /*
  @media (prefers-color-scheme: dark) {
    #ct-chapt-graphic {
      background: #141516;
      background: url(svgs/tractatus-mandala-full-grey.svg) no-repeat center;
    background-size: contain;
    background-position-y: 200px;
    }
  }*/


  /*
  
  #progress-bar {
      text-align: left;
      width: 100%;
      height: 20px;
      display: none;
  
  }
  
  .progress {
      background: rgb(197, 197, 197);
      height: 20px;
      width: 10%;
  }*/
  
  #ct-main {
      width:100%;
      box-sizing: border-box;
      padding-bottom: 350px;
      max-width:100%;
    }
  
    @media screen and (max-width: 699px) {
      #ct-main {
          padding-left: 7%;
          padding-right: 7%;
          margin-top: 80px;
          overflow-x: hidden;

  
      }
  

    }

    .footer-left {
  
      text-align: left;
      flex: auto;
      display: flex;
      height: 100%;
      align-items: center;
      flex-grow: 1;
      font-family: "Mulish";
      font-size: 1em;
      margin-left: -5px;
    }

    #footer-icon-left { 
      padding: 18px 12px 10px 0px;
      width: 60px;
      border-right: 1px solid grey;
      height: 45px;
      background: url(svgs/footer-settings-button.svg) no-repeat left;
      background-size: contain;
      margin-top: 8px;
    }

    #footer-icon-left:hover { 
      background: url(svgs/footer-settings-button-over.svg) no-repeat left;
      background-size: contain;
    }



    
    
    
    .footer-right {
      text-align: right;
      display: flex;
      flex: auto;
      height: 100%;
      align-items: center;
      flex-grow: 1;
  
      font-family: "Mulish";
      font-size: 1em;
      margin: auto;
      margin-right: 20px;
      flex-flow: row;
      justify-content: end;
    }

    @media screen and (max-width: 699px) {
      .footer-right {
        justify-content: center;
        margin: auto;
      }
    }




#book-title {opacity: 0;}


   


.footer-size {
  height: 200px;
  display: flex;
flex-direction: row;
margin: auto;
}


@media screen and (max-width: 700px) {
.footer-size {
  width: 90% }
}


    @media screen and (min-width: 700px) and (max-width: 1324px) {
      #ct-main {
        width: 70%;
        margin: auto;
        margin-top: 80px;
      }
 

      .footer-size {
      width: 70%
     }
    }

    @media screen and (min-width: 1325px) {
      #ct-main {
        width: 55%;
        margin: auto;
          padding: 50px 10px 100px 10px;
          margin-bottom: 200px;
           
      }
  
  
      .footer-size {
        width: 55%;
        margin: auto;
  
     }
    }
  

 


    @media screen and (max-width: 700px) {

 
      .quote {
  
        margin: 40px 0px 40px 10px;
        padding: 0px 5px 0px 20px;
        border-left: 2px solid var(--text-color);
        font-style: italic;
        font-size: 0.95em;
      }
    }

      @media screen and (min-width: 700px) {
         
    .quote {
  
      margin: 40px 0px 40px 8px;
      padding: 0px 5px 0px 25px;
      border-left: 3px solid var(--text-color);
      font-style: italic;
      font-size: 0.95em;
    }
  }


    /*
    @media (prefers-color-scheme: dark) {

      .quote {

        border-left: 3px rgb(183, 182, 182) solid;
      }}*/
    
  



#footer-chapter {
  
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;

  padding: 0px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: none;
  border-left: none;
  z-index: 15; 
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  background-color: var(--header-footer);
  border-color: var(--thin-border-color);
  color:  #202124 ;
  box-shadow: var(--element-shadow);
  overflow: hidden;

  padding-bottom: 25px;
  margin-bottom: 0px;
  transition: 0.3s;
}


@media screen and (max-width: 699px) {
  #footer-chapter {
    justify-content: flex-start;
}
}


/*COntent footer*/

.next-section {
  display: block;
  text-align:left;
  margin-left: 20px;
  margin-right: auto;
}

.next-sec {
  font-family: 'Mulish';
  font-weight: bold;
  font-size: 1em;
  padding-bottom: 10px;
  color: var(--pre-link-color);
}

.sec-name {
  font-family: 'CooperLt';
  font-size: 1.4em;
  color: var(--text-color);

}


.next-button {
  background: var(--text-color);
  font-family: 'Mulish';
  font-size: 1.2em;
  padding: 8px 15px 8px 15px;
  color: var(--background-color);
  border-radius: 55px 55px 55px 55px;
  width: fit-content;
  text-align: center;
  z-index: 10;
  text-align: center;

}

.next-button:hover {
  text-align: right;
  color: var(--text-color);
  background: grey;
}

.footer-settings-button {
  font-family: 'Mulish';
  font-size: 1.1em;
  padding-top: 5px;
  width: 200px;
  margin-top: 20px;
  border-top: 1px solid;
}

/*footer items for mobile*/

@media screen and (max-width: 699px) {

  #footer-icon-left { 
    padding: 12px 20px 20px 0px;
    width: 36px;
    background: url(svgs/footer-settings-button.svg) no-repeat left;
    background-size: contain;
 
  }

  #footer-icon-left:hover { 
    background: url(svgs/footer-settings-button-over.svg) no-repeat left;
    background-size: contain;
  }

  .next-section {
    margin-left: 15px;
    margin-right: auto;
    padding-right: 10px;
  }
  
  .next-sec {
    font-size: 1.0em;
  padding-bottom: 0px;
  }
  
  .sec-name {
    font-family: 'CooperLt';
    padding: 5px 10px 0px 0px;
    font-size: 1.3em;
  }
  
  
  .next-button {
    font-size: 1.2em;
    padding: 6px 20px 6px 20px;
    border-radius: 11px;
    z-index: 10;
  }


}


/*Footer Settings Open up panel*/


#footer-settings {
  
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1; 
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;

  background-color: var(--deeper-accent-color);
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
}

.footer-settings-icon {
  font-family: 'Mulish';
  color: grey;
  /*align-self: center;*/
  font-size: 1.0em;
  text-align: right;
  background: none;
  border: none;
}

.footer-settings-icon:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.footer-settings-icon img{
  height: 50px;
  padding-right: 15px;
}

@media screen and (max-width: 699px) {
  .footer-settings-icon img{
    height: 30px;
    /*padding-right: 0px;*/

  }

  .footer-settings-icon {
    font-size: 0.7em;
    height: 30px;
  }
}


/*------------------------------

BOOK NOTE PALETTE 

--------------------------------------*/


#bookNotePalette {
  position: fixed;  /* Changed from absolute to fixed */
  bottom: -200px; 
  background: var(--header-footer);
  border: 1px solid;
  border-color: var(--thin-border-color);
  box-shadow: var(--element-shadow);
  transition: bottom 0.5s;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  z-index: 20; /* This ensures the palette is above other page content */
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 700px) {

#bookNotePalette { 
  width: 380px;
  height: 90px; 
  border-radius: 25px 25px 0px 0px;
}
}

@media screen and (min-width: 700px) and (max-width: 1324px) {
  
  #bookNotePalette {
      width: 700px;
      height: 90px; 
      border-radius:  25px 25px 0px 0px;
      padding: 10px;
}
#eco-icon-footer {
  flex-grow:4; 
  text-align: right;
}
}

@media screen and (min-width: 1325px) {
  #bookNotePalette {
      bottom: -200px; 
      width: 750px;
      height: 100px; 
      border-radius:  25px 25px 0px 0px;
}

}

#closePalette {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.pallette-btn { 
  border: var(--thin-border-color);
  border-style: solid;
  border-width: 0.25px;
  border: none;
  color: var(--subdued-text);
  font-family: "Mulish", Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer; 
  display: block;
  font-size: 1em;
  margin: 10px 5px auto 5px;
  width: fit-content;
  height: 40px;
  border-radius: 15px;
  background-size: 25px;
  transition: 0.3s; /* Repeated property, consider consolidating with the other transition property */
}

.highlight-buttons { 
  /* Adjust border properties as required */
  background-color: var(--nav-bar-accent);
  color: var(--text-color);
  font-family: "Mulish", Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer; 
  padding: 10px;
  font-size: 1em;
  margin: 5px 10px auto 10px;
  width: fit-content;
  height: 30px;
  border-radius: 15px;
  display: flex; 
  padding: 10px 15px 10px 40px;
  background: var(--nav-bar-accent) url(icons/save.svg) 15px center no-repeat;
  background-size: 21px;
}


.color-btn { 
  border: var(--thin-border-color);
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  transition: 0.3s;
  cursor: pointer; 
  display: block;
  padding: 10px;
}

@media screen and (max-width: 700px) {
  .color-btn { 
  width: 20px;
  height:20px;
  border-radius: 20px;
  margin: auto 10px;
}
.pallette-btn { 
  flex-grow: 1;
  padding: 10px 10px 10px 10px;
}

}

@media screen and (min-width: 700px) {
  .color-btn { 
  width: 30px;
  height:30px;
  border-radius: 25px;
  margin: auto auto;
}
.highlight-buttons { 
  flex-grow: 4;
}
.pallette-btn { 
  flex-grow: 1;
  padding: 10px 15px 10px 40px;
}
}

#copyBtn {
    background-size: 25px;
    transition: 0.3s;
    background: var(--deeper-accent-color) url(icons/copy.svg) 15px center no-repeat;
    background-size: 21px;

}

#viewBooknotesBtn {
  background-size: 25px;
  transition: 0.3s;
  background: var(--deeper-accent-color) url(icons/view-booknotes.svg) 15px center no-repeat;
  background-size: 21px;

}


#booknotesBtn {
    background-size: 25px;
    transition: 0.3s;
    background: var(--deeper-accent-color) url(icons/booknotes.svg) 15px center no-repeat;
    background-size: 21px;
}
 
.pallette-text {
  color:var(--subdued-text);
        font-family: 'Mulish', Arial, Helvetica, sans-serif;
        text-align: center;
        text-decoration: none;
}

@media screen and (min-width: 701px) {
  .pallette-text {
    font-size: 1em;  
    margin: auto 10px;
  }
}
@media screen and (max-width: 700px) {
  .pallette-text {
    display: none !important;
  }
}


button:hover {
  opacity: 0.7;
}

