
/* --------------------------------------------------------------------------


2. Document Setup


-------------------------------------------------------------------------- */


html {
  height: 100%;
  }
  
  
  body {
    z-index: 0;
    width: 100%;
    height:100%;
    background-color: var(--general-background);

  }
  



svg {
  pointer-events: all;
}


/*------------------------------------


3. Header


------------------------------------*/



#header {
  transition: 0.4s;
  z-index: 20;
position: absolute;
height: fit-content;
width: 200px;
right: 10px;
top: 0;
 
}

  @media screen and (min-width: 701px) {
#header {  
  height: 70px;
}
}

@media screen and (max-width: 700px) {
#header {  

  height: 70px;
}
}





.top-menu-login-button {

  position:absolute;
  left:0;
 margin-top: 22px;
 margin-left: 22px;


  font-family:'Mulish';
  background: none;
  border:0.5px;
  border-style:solid;

  border-radius:5px;
  align-content: center;
  font-size: 0.9em;
  padding: 3px 14px 3px 14px;
  margin-right:10px;
  cursor: pointer;
  color: var(--header-accent);
  border-color: var(--header-accent);
  border-width: 0.5px;
}

.top-menu-login-button:hover {
  color: var(--top-header);
  background-color: var(--header-accent);
}

@media screen and (max-width: 700px) {
.top-menu-login-button {
  display:none;
}
}


.top-settings-button  {
  border: none; 
  margin-right:10px;
  cursor:pointer;
  height:30px;
  width:30px;
}

.top-circles-button  {
  border: none; 
  margin-right:10px;
  cursor:pointer;
  height:30px;
  width:30px;
}

.top-help-button  {
  border: none; 
  margin-right:10px;
  cursor:pointer;
  height:30px;
  width:30px;
}
/*
.top-close-button  {
  border: none; 
  margin-right:10px;
  cursor:pointer;
  height:30px;
  width:30px;
}


.top-close-button:hover  {
  border: none; 
  margin-right:10px;
  cursor:pointer;
  height:30px;
  width:30px;
}

.top-close-button:hover  {
  border: none; 
  margin-right:10px;
  cursor:pointer;
  height:30px;
  width:30px;
}

*/


.main-menu-button {
  position:absolute;
  left:0;
  margin-top: 22px;
  margin-left:25px;
  border: none; 
  margin-right:10px;
  cursor:pointer;
  height:30px;
  width:30px;
}


.main-menu-button:hover  {
  border: none; 
  margin-right:10px;
  cursor:pointer;
  height:30px;
  width:30px;
}



#EarthCycles {
  position: absolute;
  z-index: 10;
  top: 0;
}


/* -------------------------------------------------------------------------- */

/*	6. User Settings Overlay Curtain 

    Comes in from the right after clicking +- button.

/* -------------------------------------------------------------------------- */

#right-settings-overlay {
  background-color: var(--side-overlays) /*var(--overlays-and-headers:)*/; 
  color:  var(--text-color); /*var(--text-color)*/ ;
  z-index: 26;
}


/* Table of Contents Menu (background) */
.overlay-settings {
  height: 100%;
  width: 0%;
  position: fixed; /* Stay in place */
  z-index: 21; /* Sit on top */
  right: 0;
  top: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


/* Position the content inside the overlay */
.overlay-content-settings {
  position: initial;
  text-align: center; /* Centered text/links */
   /*margin-top: 30px; 30px top margin to avoid conflict with the close button on smaller screens */
  font-family: "Mulish";
  /*font-size: smaller;*/
  display: flex;
  justify-content: center;
  flex-flow: column;
  height:100%;  
  margin: auto;
}


@media screen and (max-width: 700px) {
  .overlay-content-settings {
    width: 77%;
    font-size: 0.9em;
    /*margin-top: 6%;*/
}
}

@media screen and (min-width: 700px) and (max-width: 1324px) {
  .overlay-content-settings {
    width: 65%;
    font-size: 0.9em;
    /*margin-top: 2%;*/
}
}

@media screen and (min-width: 1325px) {
    .overlay-content-settings {
      width: 69%;
      margin: auto;
    }
}

.settings-label {
  font-family: 'Mulish';
  font-size: 1.2em;
  margin: 18px 0px 8px 0px;
}

.language-box {
  display: flex;
  margin: 10px auto 10px auto;
  justify-content: center;
  padding: 5px 30px 5px 30px;
  background: var(--slide-highlight);
  border-radius: 55px;
  width: fit-content;
}

.language-selector {
  font-family: 'Mulish';
  padding: 10px 20px 10px 20px;
  background: var(--side-overlays);
  border-radius: 10px;
  margin: 10px;
 /* filter: invert(100);*/
  font-size: 1.1em;
  cursor: pointer;
  color: var(--text-color);
  /*border-color:var(--header-accent);*/
  border-width:0.5px;

}

.language-selector:hover {
  background: var(--header-accent);
  border-width:1px;
  color:var(--top-header);
}

.language-selector a {
  color: var(--side-overlays);
}



/*Carbon Badge */

#wcb.wcb-d #wcb_a {
  color: #2e2e2e !important;
background: #27ad37 !important;
border-color: #00a112 !important;
}

#wcb #wcb_a,
#wcb #wcb_g {
  border: 0.2em solid #2cb03c !important;
}

#wcb.wcb-d #wcb_2 {
  color: grey !important;
}


/*Right Close Button*/

#right-close-button {
  position: absolute;
  right: 0px;
  transition: 0.3s;
  height: 75px;
  width:75px;
  padding-right: 30px;
  padding-top: 30px;
  right: 0px;
  top: 0px;
}


.x-button {
    background: url('svgs/right-x.svg') no-repeat;
    padding: 10px;
    background-size: contain;
    width: 75px;
    height: 75px;
    border:none;
}

.x-button:hover {
    background: url('svgs/x-over.svg') no-repeat;
    padding: 10px;
    background-size: contain;

}



.menu-page-item {
  padding:10px;
  font-family:'Mulish';
  font-size:1.4em;
  color:var(--text-color);
  border-bottom:1px solid var(--subdued-text);
  cursor: pointer;

}


.menu-page-item:hover {
 
  border-bottom:2px solid var(--text-color);
  color: var(--header-accent);
  
}

.menu-page-item a {  text-decoration: none;
color: var(--subdued-text);
}

.menu-page-item a:hover {  text-decoration: none;
  color: var(--h1);
  }


  /*working?!*/
[part="darkLabel"], [part="lightLabel"], [part="toggleLabel"] {

  font-size: 22px !important;
}


/*-----------------------------------------


MONTHS


-----------------------------------------*/




/*January*/
svg path[id*="-1-20"] {
  fill: #6300f8;
  fill-opacity: 0.3;
  cursor: pointer;
}
svg path[id*="-1-20"]:hover {
  fill: #6300f8;
  fill-opacity: 0.6;
}
svg path[id*="-1-20"]:active {
  fill: #6300f8;
  fill-opacity: 1;
}

/*February*/
svg path[id*="-2-20"] {
  fill: #ff00d9;
  fill-opacity: 0.3;
  cursor: pointer;
}
svg path[id*="-2-20"]:hover {
  fill: #ff00d9;
  fill-opacity: 0.6;
}
svg path[id*="-2-20"]:active {
  fill: #ff00d9;
  fill-opacity: 1;
}

/*March*/
svg path[id*="-3-20"] {
  fill: #ff020298;  
  cursor: pointer;
  fill-opacity: 0.3;
}

svg path[id*="-3-20"]:hover {
  fill: #ff020298;
  fill-opacity: 0.6;

}
svg path[id*="-3-20"]:active {
  fill: #ff020298;
  fill-opacity: 1;
}

/*April*/
svg path[id*="-4-20"] {
  fill: #ff6403;
  cursor: pointer;
  fill-opacity: 0.3;

}
svg path[id*="-4-20"]:hover {
  fill: #ff6403;
  fill-opacity: 0.6;

}
svg path[id*="-4-20"]:active {
  fill: #ff6403;
  fill-opacity: 1;

}

/*May*/
svg path[id*="-5-20"] {
  fill: rgb(255, 128, 1);
  cursor: pointer;
  fill-opacity: 0.3;

}
svg path[id*="-5-20"]:hover {
  fill: rgb(255, 128, 1);
  fill-opacity: 0.6;

}
svg path[id*="-5-20"]:active {
  fill: rgb(255, 128, 1);
  fill-opacity: 1;

}

/*June*/
svg path[id*="-6-20"] {
  fill: rgb(255, 209, 25);
  cursor: pointer;
  fill-opacity: 0.3;

}

svg path[id*="-6-20"]:hover {
  fill: rgb(255, 209, 25);
  fill-opacity: 0.6;
}

svg path[id*="-6-20"]:active  {
  fill: rgb(255, 209, 25);
  fill-opacity: 1;

}

/*July*/
svg path[id*="-7-20"] {
  fill: rgb(251, 251, 0);
  cursor: pointer;
  fill-opacity: 0.3;

}

svg path[id*="-7-20"]:hover {
  fill: rgb(251, 251, 0);
  fill-opacity: 0.6;

}

svg path[id*="-7-20"]:active {
  fill: rgb(251, 251, 0);
  fill-opacity: 1;

}

/*August*/
svg path[id*="-8-20"] {
  fill: #c9fa08;
  cursor: pointer;
  fill-opacity: 0.3;

}

svg path[id*="-8-20"]:hover {
  fill: #c9fa08;
  fill-opacity: 0.6;

}

svg path[id*="-8-20"]:active {
  fill: #c9fa08;
  fill-opacity: 1;

}

/*September*/
svg path[id*="-9-20"] {
  fill: #00e513ff;
  cursor: pointer;
  fill-opacity: 0.3;

}

svg path[id*="-9-20"]:hover {
  fill: #00e513ff;
  fill-opacity: 0.6;

}

svg path[id*="-9-20"]:active {
  fill: #00e513ff;
  fill-opacity: 1;

}

/*October*/ 
svg path[id*="-10-20"] {
  fill:  rgb(0, 230, 169);
  cursor: pointer;
  fill-opacity: 0.3;

}

svg path[id*="-10-20"]:hover {
  fill:  rgb(0, 230, 169);
  fill-opacity: 0.6;

}

svg path[id*="-10-20"]:active {
  fill:  rgb(0, 230, 169);
  fill-opacity: 1;

}

/*November*/ 
svg path[id*="-11-20"] {
  fill: #0cabf5;
  cursor: pointer;
  fill-opacity: 0.3;

}

svg path[id*="-11-20"]:hover {
  fill: #0cabf5;
  fill-opacity: 0.6;

}

svg path[id*="-11-20"]:active {
  fill: #0cabf5;
  fill-opacity: 1;
}


/* December */
svg path[id*="-12-20"] {
  fill: rgb(67, 67, 255);
  cursor: pointer;
  fill-opacity: 0.3;

} 

svg path[id*="-12-20"]:hover {
  fill: rgb(67, 67, 255);
  fill-opacity: 0.6;

}

svg path[id*="-12-20"]:active {
  fill: rgb(67, 67, 255);
  fill-opacity: 1;

}








/*Months*/
svg path#january:hover,
svg path#february:hover,
svg path#march:hover,
svg path#april:hover,
svg path#may:hover,
svg path#june:hover,
svg path#july:hover,
svg path#august:hover,
svg path#september:hover,
svg path#october:hover,
svg path#november:hover,
svg path#december:hover {
  opacity: 0.7;
  transition: 0.9s;
  cursor: pointer;
}

svg path#january:active,
svg path#february:active,
svg path#march:active,
svg path#april:active,
svg path#may:active,
svg path#june:active,
svg path#july:active,
svg path#august:active,
svg path#september:active,
svg path#october:active,
svg path#november:active,
svg path#december:active {
  opacity: 1;
  cursor: pointer;
}


/*-------------------

Planets Styling and interactivity


-----------------*/

#neptune_system
 {
  transition: 0.5s;
  cursor: pointer;
}
#neptune_system:hover #neptune-orbit {
  stroke-width: 4px;
  transition: 0.5s;
}

#neptune_system:hover #neptune circle {
  stroke-width: 5px;
  transition: 0.5s;
}



#uranus_system
 {
  transition: 0.5s;
  cursor: pointer;
}
#uranus_system:hover #uranus-orbit {
  stroke-width: 2px;
  transition: 0.5s;
}

#uranus_system:hover #uranus ellipse {
  stroke-width: 2px;
  transition: 0.5s;
}

#saturn_system
 {
  transition: 0.5s;
  cursor: pointer;
}
#saturn_system:hover #saturn-orbit {
  stroke-width: 2px;
  transition: 0.5s;
}

#saturn_system:hover #saturn ellipse {
  stroke-width: 2px;
  transition: 0.5s;
}

#jupiter_system
 {
  transition: 0.5s;
  cursor: pointer;
} 
#jupiter_system:hover #jupiter-orbit {
  stroke-width: 2px;
  transition: 0.5s;
}

#jupiter_system:hover #jupiter ellipse {
  stroke-width: 2px;
  transition: 0.5s;
}

#mars_system
 {
  transition: 0.5s;
  cursor: pointer;
}
#mars_system:hover #mars-orbit {
  stroke-width: 3px;
  transition: 0.5s;
}

#mars_system:hover #mars ellipse {
  stroke-width: 3px;
  transition: 0.5s;
}

#venus_system
 {
  transition: 0.5s;
  cursor: pointer;
}

#venus_system:hover #venus-orbit {
  stroke-width: 4.5px;
  transition: 0.5s;
}

#venus_system:hover #venus circle {
  stroke-width: 4.5px;
  transition: 0.5s;
}

#mercury_system
 {
  transition: 0.5s;
  cursor: pointer;
}

#mercury_system:hover #mercury-orbit {
  stroke-width: 7px;
  transition: 0.5s;
}

#mercury_system:hover #mercury circle {
  stroke-width: 7px;
  transition: 0.5s;
}

#earth_system
 {
  transition: 0.5s;
  cursor: pointer;
}

#earth_system:hover #earth-orbit {
  stroke-width: 3.5px;
  transition: 0.5s;
}

#earth_system:hover #earth circle {
  stroke-width: 3.5px;
  transition: 0.5s;
}


/*-------------------------------

LUNAR MONTH & WEEK STYLING and INTERACTIVITY

----------------------*/




/*Lunar*/
svg path[id*="lunar"] {
  cursor: pointer;
  transition: 0.5s;
}

svg path[id*="lunar"]:hover {
  opacity: 1;
  fill: grey;
}

/*weekly*/
svg path[id*="week"] {
  cursor: pointer;
  transition: 0.5s;
}

svg path[id*="week"]:hover {
  opacity: 1;
  fill: rgb(70, 70, 70);
}



/*------------------------------

LOADING ANIMATION OF THE PLANETS


-----------------------------*/




#prev-year {
  cursor: pointer;
}

#next-year {
  cursor: pointer;
}

#the_sun,
#mercury_system,
#venus_system,
#earth_system,
#mars_system,
#jupiter_system,
#saturn_system,
#uranus_system,
#neptune_system,
#weeks,
#lunar_months,
#solar_months,
#all_days,
#ray_lines,
#the_year {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 0.33s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#the_sun {
  animation-delay: 0s;
}

#mercury_system {
  animation-delay: 0.165s;
}

#venus_system {
  animation-delay: 0.33s;
}

#earth_system {
  animation-delay: 0.495s;
}

#mars_system {
  animation-delay: 0.66s;
}

#jupiter_system {
  animation-delay: 0.825s;
}

#saturn_system {
  animation-delay: 0.99s;
}

#uranus_system {
  animation-delay: 1.155s;
}

#neptune_system {
  animation-delay: 1.32s;
}

#weeks {
  animation-delay: 1.485s;
}

#lunar_months {
  animation-delay: 1.65s;
}

#solar_months {
  animation-delay: 1.815s;
}

#all_days {
  animation-delay: 1.98s;
}

#ray_lines {
  animation-delay: 2.64s;
  animation-duration: 1s;
}

#the_year {
  animation-delay: 2.97s;
}

#moon-phases {
  opacity: 0;
  animation-name: fade-in2;
  animation-duration: 0.33s;
  animation-fill-mode: forwards;
}

@keyframes fade-in2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.11;
  }
}


#moon-phases {
  animation-delay: 2.97s;
  animation-duration: 2s;
}



/*--------------------------------------


TOOLTIPS AND MODALS


--------------------------------------*/



.tooltip {
  position: absolute;
  z-index: 20;
  color: var(--general-background);
  font-family: 'mulish', sans-serif;
  padding: 8px 20px 8px 20px ;
  font-size: 0.8em;
  white-space: nowrap;
  pointer-events: none;
  border: 1px solid var(--general-background); 
  border-radius: 10px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

#day-modal-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#day-modal-content.show {
  display: block;
  animation: modal-animation 0.75s ease;
}

/* Animation */
@keyframes modal-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

/* Close button */
.close {
  display: inline-block;
  float: right;
  font-size: 24px;
  font-weight: bold;
  color: #aaa;
  transition: color 0.3s ease;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




/* The modal background */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scrolling if needed */
  background-color: rgba(0, 0, 0, 0.3); /* Darken background by 10% */
}
/* Modal content box */
.modal-content {
  position: fixed;
  top: 50%;
  left: 0;
  margin-top: -200px;
  margin-left: -15px;
  padding: 20px 20px 20px 40px;
  width: 20%;
  height: fit-content;
  max-width: 800px;
  max-height: 800px;
  background-color: var(--modal-background);
  border-radius: 20px;
  border: 1px solid var(--months-lunar);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: auto;
  font-family: 'Mulish', sans-serif;
  color: var(--text-color);
  transition: 0.5s;

}

/* Close button */
.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
  padding: 10px 20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}





