@import url('https://fonts.googleapis.com/css?family=Roboto:700');
body{
  font-family:'Roboto';
}
*{
  margin: 0;
  padding: 0;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center h1 {
  user-select: none;
  font-size: 100px;
  color: white;
  background: repeating-linear-gradient(-45deg, rgb(0, 255, 234) 0%, rgb(0, 255, 234) 3%, rgb(30, 255, 0) 3%, rgb(30, 255, 0) 17%, rgb(255, 225, 0) 20%, rgb(255, 225, 0) 37%, rgb(255, 0, 0) 40%, rgb(255, 0, 0) 57%, rgb(255, 0, 238) 60%, rgb(255, 0, 212) 79%,rgb(0, 255, 234) 79%, rgb(0, 255, 234) 100%);
  background-size: 400px 100px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: rainbow 4s linear forwards, fade-to-grey 1s linear 3s forwards;
}

@keyframes rainbow {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 400px;
  }
}

@keyframes fade-to-grey {
  0% {
    -webkit-text-fill-color: transparent;
  }
  100% {
    -webkit-text-fill-color: grey;
  }
}




